*{
  margin:0;
  padding:0;
}
html{
  font-size: 20px!important;
}
body{
  background:#fff;

}
.header{
  .nav {
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    .nav_box {
      width: 1096px;
      margin: 0 auto;
      overflow: hidden;
      height:100%;
      a{
        overflow:hidden;
        float:left;
        width:100%;
        height:100%;
      }
      .left {
        float: left;
        width: 400px;
        height: 100%;
        .logo {
          height: 100%;
          width: 100%;
          background: url("../img/logo.png") 0 center no-repeat;
          overflow: hidden;
        }
      }
    }
  }
  @media \0screen\,screen\9{
    .nav{
      background:#000;
      filter:Alpha(opacity=60);
    }
  }
}
.main{
  width:1096px;
  margin:60px auto 160px;
  overflow:hidden;
  input[type='radio']{
    background:#fff;
  }
  b{
    color:#555;
    font-size: 16px;
  }
  .img{
    width:20%;
    margin-right:2%;
    float:left;
    border:1px solid #ccc;
    height:180px;
    .photo{
      height:140px;
      background:#aaa;
      text-align: center;
      span i{
        font-size: 140px;
        line-height: 140px;
        color:#fff;
      }
    }
    .name{
      text-align:center;
      line-height:40px;
    }
  }
  .form{
    border:1px solid #ddd;
    width:73%;
    float:left;
    padding: 1.5%;
    overflow:hidden;
    .notice{
      font-size: 24px;
      margin-bottom:20px;
    }
    .title{
      font-size:13px;
      margin-bottom:4px;
    }
    .box{
      margin-bottom:10px;
      input{
        height:26px;
        outline:none;
        background:#fff;
        line-height:26px\9;
      }
      input[type='text']{
        padding:6px 12px;
        border:1px solid #ccc;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
      }
      .red{
        width:1%;
        height:42px;
        line-height: 44px;
        color:red;
      }
      ._red{
        line-height: 28px;
      }
      p{
        width:100%;
        height:13px;
        font-size: 12px;
        line-height:10px;
        color:red;
      }
      input,span,p{
        float: left;
      }
      .l_box{
        float: left;
        width:46%;
        overflow:hidden;
        input{
          width:87%;
        }
      }
      .r_box{
        float:right;
        width:46%;
        overflow:hidden;
        input{
          width:87%;
        }
      }
      .select{
        width:80%;
        float: left;
        border:1px solid #ccc;
        position:Relative;
        .select_ipt{
          width:100%;
          padding-left:0;
          padding-right:0;
          text-indent: 12px;
          border:0;
          -webkit-border-radius:0!important;
          -moz-border-radius:0!important;
          border-radius:0!important;
        }
        li{
          line-height: 24px;
          cursor:pointer;
        }
        li:hover{
          background: #48a6cc!important;
          color:#fff;
        }
      }
      .i_box,.j_box,.k_box{
        float:left;
        width:33.333%;
        input{
          width:82%;
        }
      }
      ._box{
        overflow:hidden;
        .z_box{
          overflow:hidden;
          float: left;
          width:50%;
          overflow:hidden;
          input[type='radio']{
            margin-left:0;
          }
          input[type='text']{
            height:20px;
            width:70%;
          }
        }
        input[type='radio']{
          margin-left:20px;
        }
        label{
          margin-left:6px;
          font-size: 14px;
          line-height: 26px;
          color:#555;
        }
        span{
          height:24px;
        }
      }
      .box_{

        input{
          width:94%;
        }
      }
    }
    .submit{
      overflow:hidden;
      margin-top:30px;
      input{
        border:none;
        float: right;
        width:140px;
        height:36px;
        cursor:pointer;
        background:#64990b;
        color:#fff;
      }
    }
  }
}
.placeholder{
  color:#aaa;
  line-height:26px;
}
.red_changed{
  display:none;
  line-height: 38px!important;
}
.footer{
  height:100px;
  background:#eee;
  .box{
    margin:0 auto;
    width:1096px;
    line-height:100px;
    p{
      text-align: center;
      color:#999;
      font-size: 14px;
    }
  }
}
.clear{
  clear:both;
}

@media screen and (max-width:1400px){
  .main,.header .nav .nav_box,.footer .box{
    width:80%;
  }
}
@media screen and (max-width:1000px){
  .main .form .box .i_box, .main .form .box .j_box, .main .form .box .k_box,.main .form .box .l_box, .main .form .box .r_box{
    width:100%;
  }
  .main .form .box .box_ input,.main .form .box .r_box input,.main .form .box .l_box input{
    width:96%;
  }
  .main .form .box .red{
    width:2%;
  }
  .main .form .box .r_box{
    float: left;
  }
  .main .form .box ._box .z_box{
    width:80%;
  }
  .main .form .box{
    margin-bottom:0;
  }
  .main .form .box input[type='text']{
    padding-left:0;
    padding-right:0;
    text-indent: 12px;
  }
}
@media screen and (max-width:700px){
  .main .form{
    width:97%;
  }
  .main .img{
    width:100%;
    margin-right:0;
  }
  .main{
    padding:0 10px;
  }
  .header .nav .nav_box .left{
    width:100%;
  }
  @media screen and (max-width:400px){
    .header .nav .nav_box .left .logo{
      background-size:100%;
    }
  }
}
