.main .box .english {
  overflow: hidden; }
  .main .box .english .teach_point {
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 2px #ddd;
    -moz-box-shadow: 0 0 4px 2px #ddd;
    box-shadow: 0 0 4px 2px #ddd; }
    .main .box .english .teach_point .title {
      height: 34px;
      border-bottom: 1px solid #eee;
      color: #009BD7; }
      .main .box .english .teach_point .title p {
        font-size: 16px;
        line-height: 32px; }
    .main .box .english .teach_point .detail p {
      padding-top: 10px;
      text-overflow: ellipsis;
      overflow: hidden; }
      .main .box .english .teach_point .detail p a {
        color: #aaa;
        text-decoration: none; }
      .main .box .english .teach_point .detail p a:hover {
        color: #009BD7; }
    .main .box .english .teach_point .detail .detail_cover {
      position: fixed;
      display: none;
      background: url("../img/cover.png");
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9999; }
      .main .box .english .teach_point .detail .detail_cover .detail_content {
        -webkit-box-shadow: 1px 1px 12px 4px #000000;
        -moz-box-shadow: 1px 1px 12px 4px #000000;
        box-shadow: 1px 1px 12px 4px #000000;
        background: #fff;
        width: 880px;
        height: 500px;
        overflow: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 50%;
        margin-top: -250px;
        left: 50%;
        margin-left: -450px;
        border: 1px solid #ccc;
        font-size: 14px;
        line-height: 26px;
        padding: 10px; }
        .main .box .english .teach_point .detail .detail_cover .detail_content div {
          margin-bottom: 14px;
          color: #444; }
    .main .box .english .teach_point .apply {
      height: 44px;
      line-height: 44px;
      text-align: right;
      border-top: 1px solid #eee; }
      .main .box .english .teach_point .apply a {
        padding: 6px 40px;
        text-align: center;
        text-decoration: none;
        background: #009BD7;
        color: #fff;
        font-size: 14px; }
.main .box .sample {
  margin-top: 30px; }
  .main .box .sample .title {
    font-size: 24px;
    margin-bottom: 20px; }
  .main .box .sample .school {
    clear: both; }
    .main .box .sample .school h3 {
      margin-bottom: 20px;
      line-height: 40px;
      border-bottom: 4px solid #FF8C00;
      color: #b70f20;
      font-family: BoldRoboto;
      background: url("../img/triangle.png") no-repeat 60px 28px;
      background-size: 24px; }
    .main .box .sample .school ._box {
      font-family: Roboto;
      background: #fff;
      position: relative;
      overflow: hidden;
      border: 1px solid #ccc; }
      .main .box .sample .school ._box .list {
        background: #fff;
        display: block;
        line-height: 40px;
        text-decoration: none;
        font-size: 16px;
        color: #666;
        padding: 0 20px;
        height: 40px;
        position: relative; }
        .main .box .sample .school ._box .list span {
          position: absolute;
          right: 20px;
          *top: 15px; }
          .main .box .sample .school ._box .list span img {
            height: 8px;
            width: 18px;
            margin-left: 2px;
            padding-top: 1px; }
      .main .box .sample .school ._box .content {
        border-top: 1px solid red;
        padding: 20px; }
    .main .box .sample .school .weight {
      font-weight: bold; }
    .main .box .sample .school .color {
      color: #64990b; }
    .main .box .sample .school .no_border {
      border-bottom: none; }

@media screen and (max-width: 1170px) {
  .main .box .english .teach_point {
    width: 96%; } }

/*# sourceMappingURL=teach_english.css.map */
