* {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px; }

body {
  background: #fff; }

.header .nav {
  height: 4rem;
  background: rgba(0, 0, 0, 0.7); }
  .header .nav .nav_box {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    width: 80%; }
    .header .nav .nav_box a {
      overflow: hidden;
      float: left;
      width: 100%;
      height: 100%; }
    .header .nav .nav_box .left {
      float: left;
      width: 100%;
      height: 100%; }
      .header .nav .nav_box .left .logo {
        height: 100%;
        width: 100%;
        background: url("../img/logo.png") 0 center no-repeat;
        background-size: 100%;
        overflow: hidden; }

.main {
  padding: 0 0.4rem;
  margin: 2rem auto 8rem;
  overflow: hidden; }
  .main input[type='radio'] {
    background: #fff; }
  .main b {
    color: #555;
    font-size: 0.8rem;
  line-height: 0.8rem}
  .main .img {
    width: 100%;
    margin-right: 2%;
    float: left;
    border: 1px solid #ccc;
    height: 9rem; }
    .main .img .photo {
      height: 7rem;
      background: #aaa;
      text-align: center; }
      .main .img .photo span i {
        font-size: 7rem;
        line-height: 7rem;
        color: #fff; }
    .main .img .name {
      text-align: center;
      font-size: 16px;
      line-height: 2rem; }
  .main .form {
    border: 1px solid #ddd;
    width: 97%;
    float: left;
    padding: 1.5%;
    overflow: hidden; }
    .main .form .notice {
      font-size: 1.2rem;
      margin-bottom: 1rem; }
    .main .form .title {
      font-size: 0.65rem;
      margin-bottom: 0.2rem; }
    .main .form .box input {
      font-size: 12px;
      height: 1.3rem;
      outline: none;
      background: #fff; }
    .main .form .box input[type='text'] {
      padding: 0.3rem 0.6rem;
      border: 1px solid #ccc;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
    .main .form .box .red {
      width: 2%;
      height: 2.1rem;
      line-height: 2.2rem;
      color: red; }
    .main .form .box ._red {
      line-height: 1.4rem; }
    .main .form .box p {
      width: 100%;
      height: 0.65rem;
      font-size: 0.4rem;
      line-height: 0.5rem;
      color: red; }
    .main .form .box input, .main .form .box span, .main .form .box p {
      float: left; }
    .main .form .box .l_box {
      float: left;
      width: 100%;
      overflow: hidden; }
      .main .form .box .l_box input {
        width: 88%; }
    .main .form .box .r_box {
      float: left;
      width: 100%;
      overflow: hidden; }
      .main .form .box .r_box input {
        width: 88%; }
    .main .form .box .select {
      width: 80%;
      float: left;
      border: 1px solid #ccc;
      position: Relative; }
      .main .form .box .select .select_ipt {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-indent: 0.6rem;
        border: 0;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important; }
      .main .form .box .select li {
        line-height: 1.2rem;
        cursor: pointer;
        font-size: 0.8rem; }
      .main .form .box .select li:hover {
        background: #48a6cc !important;
        color: #fff; }
    .main .form .box .i_box, .main .form .box .j_box, .main .form .box .k_box {
      float: left;
      width: 88%; }
      .main .form .box .i_box input, .main .form .box .j_box input, .main .form .box .k_box input {
        width: 82%; }
    .main .form .box ._box {
      overflow: hidden; }
      .main .form .box ._box .z_box {
        overflow: hidden;
        float: left;
        width: 88%; }
        .main .form .box ._box .z_box input[type='radio'] {
          margin-left: 0; }
        .main .form .box ._box .z_box input[type='text'] {
          height: 1rem;
          width: 70%; }
      .main .form .box ._box input[type='radio'] {
        line-height: 1.2rem;
        margin-left: 1rem; }
      .main .form .box ._box label {
        margin-left: 0.3rem;
        font-size: 0.7rem;
        line-height: 1.3rem;
        color: #555; }
      .main .form .box ._box span {
        height: 1.2rem; }
    .main .form .box .box_ input {
      width: 88%; }
    .main .form .submit {
      overflow: hidden;
      margin-top: 1.5rem; }
      .main .form .submit input {
        border: none;
        float: right;
        width: 7rem;
        height: 1.8rem;
        cursor: pointer;
        background: #64990b;
        color: #fff; }
#li-radioComp-male,#li-radioComp-female,#li-radioComp-Associate,#li-radioComp-BA,#li-radioComp-BS,#li-radioComp-MS,#li-radioComp-MA,
#li-radioComp-Doctor,#li-radioComp-Other,#li-radioComp-One_year,#li-radioComp-Two_semesters,#li-radioComp-One_semester,#li-radioComp-Half_year,
#li-radioComp-Weeks,#li-radioComp-Flexible,#li-radioComp-middle_schools,#li-radioComp-colleges,#li-radioComp-elementary_schools,
#li-radioComp-pre_schools,#li-radioComp-training_schools,#li-radioComp-all{
  width:21px;
  height:21px;
  position:relative;
  float: left;
  display:table-cell;
  vertical-align: middle;
  overflow-y:hidden;
}
#li-radioComp-male,#li-radioComp-female{
  margin-left:10px;
}

form .name{
  float: left;
  height: 21px !important;
  line-height:21px;
  font-size: 14px;
  margin-left:4px;
  color:#555;
}
.placeholder {
  color: #aaa;
  line-height: 1.3rem; }

.red_changed {
  display: none;
  line-height: 1.9rem !important; }

.footer {
  height: 5rem;
  background: #eee; }
  .footer .box {
    margin: 0 auto;
    line-height: 5rem; }
    .footer .box p {
      text-align: center;
      color: #999;
      font-size: 0.7rem; }

.clear {
  clear: both; }

